.login-container {
  /* Centers the card on the entire screen */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Light gray background to make the white card stand out */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  mat-card-header {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    mat-card-title {
      font-size: 24px;
      font-weight: bold;
      color: #005cbb; /* The Azure/Blue color you installed */
    }
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .login-btn {
    padding: 24px 0;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
  }

  mat-card-footer {
    text-align: center;
    padding-bottom: 20px;

    .register-link {
      margin-top: 15px;
      color: #666;

      a {
        color: #005cbb;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
